 /* Google Font Link */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins" , sans-serif;
 }
 body{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   padding: 30px;
 }
 .container{
   position: relative;
   max-width: 900px;
   width: 100%;
   background: #c2bfbf;
   padding: 40px 30px;
   /* box-shadow: 0 5px 10px rgba(0,0,0,0.2); */
   perspective: 2700px;
   -webkit-box-shadow:  0px 0px 10px 0px #929090;
   box-shadow:  0px 0px 10px 0px #929090;
 }
 .container .cover{
   position: absolute;
   top: 0;
   left: 50%;
   height: 100%;
   width: 50%;
   opacity: 0.85;
   z-index: 98;
   transition: all 1s ease;
   transform-origin: left;
   transform-style: preserve-3d;
   
 }
 .container #flip:checked ~ .cover{
   transform: rotateY(-180deg);
 }
  .container .cover .front,
  .container .cover .back{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
 }
 .cover .back{
   transform: rotateY(180deg);
   backface-visibility: hidden;
 }
 .container .cover::before,
 .container .cover::after{
   content: '';
   position: absolute;
   height: 100%;
   width: 100%;
   /* background: #130449;
   opacity: 0.5; */
   z-index: 12;
 }
 .container .cover::after{
   opacity: 0.1;
   transform: rotateY(180deg);
   backface-visibility: hidden;
 }
 .container .cover img{
   position: absolute;
   height: 100%;
   width: 100%;
   object-fit: cover;
   z-index: 10;
 }
 .container .cover .text{
   position: absolute;
   z-index: 130;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 80px;
 }
 .cover .text .text-1,
 .cover .text .text-2{
   font-size: 36px;
   font-weight: 600;
   color: #fff;
   text-align: center;
   
 }
 .cover .text .text-2{
   font-size: 15px;
   font-weight: 500;
   font-family:'Times New Roman', Times, serif;
 }
 .container .forms{
   height: 100%;
   width: 100%;
   
 }
 .container .form-content{
   display: flex;
   align-items: center;
   justify-content: space-between;
  
 }
 .form-content .login-form,
 .form-content .signup-form{
   width: calc(100% / 2 - 25px);
   
 }
 
 .clear-cart .btn{
   display: block;
   color: #fff;
   border: 1px solid rgb(7, 41, 142);
   outline: none;
   width: 35%;
   border-radius: 10px;
   transition: transform 0.2s linear; 
   font-size: 18px;
   font-weight: bold;
   background-color: #07011d;
   border: 1px solid #1d0b57;
   text-align: center;
   padding: 10px;
   margin: 10px 120px;
   box-sizing: border-box;
   box-shadow: 2px 2px 2px #292828;
 cursor: pointer;
 }.clear-cart .btn:hover {
 filter: brightness(0.8);
 color: #FFFFFF;
 
 }
 .ml-2 {
   text-decoration: none !important;
   color: red;
 }
 .ml-2:hover {
   text-decoration: none;
   color: rgb(0, 38, 255);
   transition: 0.2s ease;
 
 }
 
 :root {
   --white: #fff;
   --black: #000;
   --blue: rgb(39, 56, 133, 0.7);
   --deepblue: rgba(96, 98, 107, 0.7);
 }
 
 
 .form .form-group {
   margin-bottom: 15px;
 }
 form label {
   display: block;
   margin-bottom: 5px;
   font-weight:500;
   cursor: pointer;
   color: #07011d;
   margin-bottom: 10px; 
 }
 h1{
   color: #07011d;
   margin: 0px 130px;
   text-shadow: 1px 1px #292828 ;
 }
  input {
   width: 100%;
   padding: 10px;
   border: 0.5px solid rgb(151, 150, 150);
   border-radius: 3px;
   color: #07011d;
 margin-bottom: 10px;  
 }

  input:focus {
   outline: none;
   box-shadow: 0 0 10px rgb(51, 50, 50);
 }
 .form-bottom {
   margin-top: 20px;
 }
 .form-bottom p {
   margin: 5px 0;
   color: var(--black);
 }
 
 .container #flip{
   display: none;
 }
 @media (max-width: 730px) {
   .container .cover{
     display: none;
   }
   .form-content .login-form,
   .form-content .signup-form{
     width: 100%;
   }
   .form-content .signup-form{
     display: none;
   }
   .container #flip:checked ~ .forms .signup-form{
     display: block;
   }
   .container #flip:checked ~ .forms .login-form{
     display: none;
   }
   
 }
