
.example::-webkit-scrollbar {
    display: none;
}
.card {
    box-shadow: 15px 15px 10px rgb(78, 77, 77);
    border-radius: 15px;
    color:#1F3C88;

}
.card1 {
    box-shadow: 15px 15px 10px rgb(78, 77, 77);
    border-radius: 15px;
    background-color:#CEDDEF ;

}
.custom-header:hover {

    background: #CEDDEF !important;
}

.card-header {
    color: black !important;
    background: #CEDDEF !important;
    transition: 0.3s ease-in;

}
a {
    text-decoration: none !important;
    color: black;
}

footer .container-fluid {
  padding: 10vmin 10vmin;
}
footer .column a+a {
  padding: 0 0.7em;
}
a {
  text-decoration: none !important;
  color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(50, 48, 192);
}
.nav-link:hover {
    background: #CEDDEF !important;
    color: black !important;
    transition: 0.2s ease;
    border-radius: 150px 20px;
}
.icon-bar {
    color: black;
}
.card h4 {
    margin: 40px 40px 0 40px;
    text-align: left;
}
.card h6 {
    margin: 25px 40px 0 40px;
    text-align: left;
}
.card p {
    text-align: right;
    margin-right: 50px;
    line-height: 10px;
}
.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    padding: .8em 1.4em;
    padding-right: 4.7em;
    background: #CEDDEF;
    border: none;
    color: white;
}
.card img {
    height: 210px;
}
.card:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.5s ease;
}
.card-img-top:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.2s ease;

}
.col-md-3 .card {
    width: 100%;
color:#1F3C88;
margin-bottom: 20px;
}
.btn{
    /* background: black;
    color: white;
    border: 0.5px solid white; */

    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: #070D59;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 20px;
    margin: 10px auto auto auto;
    border: 1px solid #2037B6;
    border-radius: 150px 20px;
    box-sizing: border-box;
}
.btn:hover {
  filter: brightness(0.8);
  background-color: #FFFFFF;
  color: #070D59;
}
.fa:hover {
    color: red;

}

.fa {
    color: black;
}
.profa {
    color: black;
}
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
.content-section a:hover {
    background: red;
}
.account-img {
    height: 125px !important;
    width: 125px !important;
    margin-right: 20px;
    margin-bottom: 16px;
}
.account-heading {
    font-size: 2.5rem;
}
/* .btn1 {
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: #070D59;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid #2037B6;
    border-radius: 20px;
    box-sizing: border-box;
  } 
.btn1:hover {
    filter: brightness(0.8);
    background-color: #FFFFFF;
    color: #070D59;
  } */
#course-row{
    padding: 0px 30px 0px 20px;
    font-weight: bold;
}
#credit-row{
    padding: 0 50px 0 30px;
    font-weight: bold;
}
#grade-row{
    padding: 0 50px 0 30px;
    font-weight: bold;
}

 
  /* .calculator-box {

    width: 50%;
    height: auto;
    margin: 50px auto;
    border-radius: 10%;
    background: white;
    box-shadow: 4px 4px 4px lightseagreen;
    padding: 40px;
  } */
  #course-row {
    font-size: 20px;
    font-weight: bolder; 
    margin-left: -2%;
  }
  h1 {
    padding: 10px;
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    color: #070D59;
  }
  p{
    padding: 10px;
    font-size: 1rem;
    color: black;
    text-align: center;
  }
  #course-wrapper, form {
    color: black;
    padding-left: 10px;
    margin: 0 auto;
    text-align: center;
  }
  input{
    border: none;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
  }
  select{
    padding: 15px;
    border: none;
    border-radius: 7.5px;
    width: 20%;
    /* height: 30px;  */
  }     
  .p1{
    padding: 10px 100px 10px 70px;
    font-family: 'Jost';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 25px;
      color: rgba(25, 34, 116, 0.8);
      text-align: left;
  
  }