* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  color: #eee;
}
/* End Header */
#course-row {
  font-size: 20px;
  font-weight: bolder; 
  margin-left: -2%;
}

#credit-row {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 13%;
}

#grade-row {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 8%;
}

.calculator-box {
  width: 50%;
  height: auto;
  margin: 50px auto;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background: #CEDDEF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}


/* On screens that are 1200px or less, set the width to 75% */
@media screen and (max-width: 1200px) {
 .calculator-box {
    width: 70%;
  }
}

/* On screens that are 950px or less, set the width to 75% */
@media screen and (max-width: 950px) {
 .calculator-box {
    width: 75%;
  }
}

/* On screens that are 600px or less, set the width to 90% */
@media screen and (max-width: 600px) {
 .calculator-box {
    width: 90%;
  }
}


h1 {
  padding: 10px;
  text-align: center;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400px;
  font-size: 30px;
  color: #070D59;
}


p{
  padding: 10px;
  font-size: 1rem;
  color: black;
  text-align: center;
}
.p1{
  padding: 10px 100px 10px 70px;
  font-family: 'Jost';
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 25px;
    color: rgba(7, 13, 89, 0.8);
    text-align: left;

}
 
#course-wrapper, form {
  color: black;
  padding-left: 10px;
  margin: 0 auto;
  text-align: center;
}
input{
  border: none;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  width: 20%;
  text-align: center;
}
select{
  padding: 15px;
  border: none;
  border-radius: 7.5px;
  width: 20%;
/*   height: 30px; */
}
.btn button {
  width: 15%;
  height: 40px;
  padding: 1px;
  margin: 5px auto;
  border-width: 3px;
  border-radius: 15%;
  border-style: solid;
  color:#FFFFFF;
  background: #070D59;
  border-color: #070D59;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn button:hover {
  width: 15%;
  height: 40px;
  padding: 1px;
  margin: 5px auto;
  color: #FFFFFF;
  background-color: #070D59;
}

.btn {
  width: 100%;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.lastp p {
  font-weight: bolder;
  padding: 15px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300px;
  font-size: 22px;
  color: #070D59;
} 

