body {
  margin: 0;
}
.cont {
 /* display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
  transition: filter 0.7s;*/

  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
}
.cont .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
